
BODY {
    background-color: white;
    font-family: Arial, sans-serif;
    background-image: url(image.jpg);
}



h1 {
    color: #0000ff;
    font-weight: BOLD;
}

p {
    -webkit-border-radius: 10px;
}

div {
    width: 12.3456789px;
    background-color: #0000ff;
}
